train_net: "output/{{ dataset_name }}/train.prototxt"
base_lr: 0.001
lr_policy: "step"
gamma: 0.1
stepsize: 8000
display: 100
average_loss: 100
momentum: 0.9
weight_decay: 0.0005
# We disable standard caffe solver snapshotting and implement our own snapshot
# function
snapshot: 0
snapshot_prefix: "resnet50_mnc_3stage"
iter_size: 8
